:global(*) {
    margin: 0;
    padding: 0;
}

:global(body) {
    box-sizing: border-box;
    min-height: 100vh;
}

@font-face {
    font-family: 'JB Mono';
    src: url('../public/fonts/JetbrainsMono-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'JB Mono Bold';
    src: url('../public/fonts/JetbrainsMono-Bold.woff2') format('woff2');
}

// Fonts
$font-main: 'JB Mono', monospace;
$font-main-bold: 'JB Mono Bold', monospace;

// Colors

$color-white: #FAF5F0;
$color-black: #08090A;
$color-mint: #54DEA7;

#dollar {
    color: $color-mint;
}

#blink {
    animation: blink 0.5s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}