/* Variables */

:root {
    --accent-color: #a855f7;
    --accent-color-inactive: #b977f8;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styling */

body {
    min-height: 100svh;
    font-family: 'Noto Sans',
        sans-serif;
}

p {
    max-width: 40ch;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color-inactive);
}

main {
    padding: 4svh 20svw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10vh;
}

.accent {
    color: var(--accent-color);
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}

.header__title {
    font-size: 3rem;
}

.header__socials {
    display: flex;
    justify-content: space-between;
    gap: 2svw;
}

.header__socials-icon {
    width: clamp(36px, 10svw, 64px);
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    flex: 2 0 auto;
}

.hero__greeting {
    font-size: 4rem;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 3svh;
    font-size: 1.2rem;
}

.hero__resume-button {
    border: 1px solid var(--accent-color);
    align-self: flex-start;
    padding: 1svw 4svh;
    color: var(--accent-color);
}

.hero__image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    flex: 0 1 auto;
    object-fit: scale-down;
}

/* Project Section */

.projects {
    flex: 2 0 auto;
}

.projects__title {
    text-align: center;
    margin-bottom: 5svh;
}

.project {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    flex-wrap: wrap;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: 5svh;
}

.project__description {
    flex: 1 1 auto;
    padding: 1vh 1vw;
    color: white;
}

.project__body {
    max-width: 50%;
}

.project__link {
    display: flex;
    color: var(--accent-color);
    flex: 2 0 10%;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.project__link--code {
    border-right: 1px solid var(--accent-color);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .2rem;
}

/* Media Queries */

@media (max-width: 1024px) {

    .header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header__title {
        font-size: 2rem;
    }

    .header__socials {
        width: 100%;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .hero__greeting {
        font-size: 2.5rem;
    }

    .hero__resume-button {
        align-self: center;
    }

    .projects__list {
        flex-direction: column;
    }

    .project {
        flex-direction: column;
    }

    .project__description {
        padding: 1rem;
    }

    .project__link {
        border-right: none;

    }

    .project__link--code {
        border-bottom: 1px solid var(--accent-color);
    }

    .project__body {
        max-width: 100%;
    }


}